@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@200&family=Karla:ital,wght@0,200;0,400;1,200&display=swap");

:root {
  --font-title: 55px;
}

.App {
  font-family: "Karla", sans-serif;
}

.jumbotron {
  background-image: url("./img/background.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
  text-align: center;
  color: white;
  padding-top: 40px;
  display: flex;
  justify-content: center;
}

.text__box > h1 {
  font-size: var(--font-title);
  margin-bottom: 100px;
}

.text__box {
  width: 50%;
}

.center {
  display: flex;
  justify-content: space-between;
}

.text-deco {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.55);
}
.text-deco:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.75);
}

.base-left {
  margin-left: 20px;
}

.point {
  cursor: pointer;
}

.detail-alert {
  width: 29.2%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: burlywood;
}

.hidden {
  display: none;
}

.base-top {
  margin-top: 33px;
}

/* .작명-enter 라는 클래스명은 컴포넌트 등장시작시 적용할 CSS */
.wow-enter {
  opacity: 0;
}
/* .작명-enter-active 라는 클래스명은 컴포넌트 등장중일시 적용할 CSS */
.wow-enter-active {
  opacity: 1;
  transition: all 2000ms;
}
